@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-image:linear-gradient(to right, #051937, #0d152b, #0f1020, #0c0b15, #050505);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #A9A9A9;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #808080;
  }
  