$PRIMARY-COLOR: #050505;
$SECONDARY-COLOR: #31d8ba;
$BACKGROUND-IMAGE-PRIMARY: linear-gradient(to right, #051937, #0d152b, #0f1020, #0c0b15, #050505);
$WHITE-COLOR: #fff;
$GRAY-COLOR: #333;

$DEFAULT-FONT-POPPINS: "Poppins", sans-serif;
