.category-container {
  padding: 1rem 3rem;

  &__cat {
    display: flex;
    align-items: center;
    gap: 2rem;

    &1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
      i {
        border-radius: 100%;
        $SIZE: 55px;
        height: $SIZE;
        width: $SIZE;
        text-align: center;
        background-image: $BACKGROUND-IMAGE-PRIMARY;
      }
    }
  }
}
