.mobile-container {
  padding: 13rem 0 2.5rem 6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    &-head {
      font-size: 3rem;
      font-weight: 800;
    }
    &-para {
      margin: 0.5rem 0 0.7rem 0;
      color: rgba(5, 5, 5, 0.5);
    }
    &-btn {
      border: 1px solid $SECONDARY-COLOR;
      padding: 0.7rem;
      font-weight: 500;

      position: relative;
      @include animateAll;
    }
  }

  &__images {
    background-image: $BACKGROUND-IMAGE-PRIMARY;
    width: 50%;
    height: 20rem;
    padding: 3rem;

    display: flex;
    align-items: flex-end;
    border-radius: 50px 0 0 50px;
  }
}
