.showcase-container {
  background-image: $BACKGROUND-IMAGE-PRIMARY;
  color: $WHITE-COLOR;
  text-align: center;
  padding: 0 0 1rem;

  &__header {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 60px;
    padding: 2rem 0 0;
  }
  &__para {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-size: 16px;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .input-container {
      margin: 1rem;
      border: 1px solid $SECONDARY-COLOR;
      width: 40%;
      display: flex;
      min-width: 280px;
      max-width: 600px;
      align-items: center;
      input {
        outline: none;
        width: 100%;
        height: 100%;
        padding: 0.8rem;
        font-weight: 200;
        background-color: $PRIMARY-COLOR;
      }
      .btn {
        border: 1px solid $SECONDARY-COLOR;
        padding: 0.8rem;
        border-radius: 0;
        color: $WHITE-COLOR;
        background-color: $PRIMARY-COLOR;
        &:hover {
          background-color: $SECONDARY-COLOR;
          cursor: pointer;
        }
      }
    }
  }
  .icons-container {
    margin-bottom: 1rem;
    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: 20px;
      margin-top: 0.5rem;
    }
  }
}
